{% extends "AppBundle:Dash:base.html.twig" %}

{% block body %}
    <h1>Lista de Suscripciones</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for suscripcion in suscripcions %}
            <tr>
                <td><a href="{{ path('dash_suscripcion_show', { 'id': suscripcion.id }) }}">{{ suscripcion.id }}</a></td>
                <td>{{ suscripcion.nombre }}</td>
                <td>{{ suscripcion.email }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('dash_suscripcion_show', { 'id': suscripcion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('dash_suscripcion_edit', { 'id': suscripcion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('dash_suscripcion_new') }}">Crear nueva</a>
        </li>
    </ul>
{% endblock %}
