Nueva opinión en ElizaldeHabana

A nombre de {{ nombre }}

Fue enviada mediante la web el {{ 'now'|date('d/M/Y h:m') }}.
El cliente visit&oacute; el restaurante el {{ date }} a las {{ time }}.

Comentario:
                                 
{{ message }}
--  Puede ponerse en contacto con {{ nombre }} mediante el correo electr&oacute;;nico
                                      
                                      {{ email }}
{% if photo is not empty %}
  Agreg&oacute; una imagen a la galer&iacute;a,

   <a href="{{ photo.getWebPath }}">puede verla en este
  enlace</a>

  {{ photo.getWebPath }}
  A&uacute;n deber&aacute; activarla para mostrarla en la galer&iacute;a.
{% endif %}
Saludos.
ElizaldeHabana Web