<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ subject }}</title>
    <style type="text/css">
        body {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            margin: 0 !important;
            width: 100% !important;
            -webkit-text-size-adjust: 100% !important;
            -ms-text-size-adjust: 100% !important;
            -webkit-font-smoothing: antialiased !important;
        }

        .tableContent img {
            border: 0 !important;
            display: block !important;
            outline: none !important;
        }


        a {
            color: #382F2E;
        }

        p, h1 {
            color: #382F2E;
        }

        a.link1 {

        }

        a.link2 {

        }

        .bigger {
            font-size: 24px;
        }

        .bgBody {
            background: #dddddd;
        }

        .bgItem {
            background: #ffffff;
        }

        h2 {
            color: #F34E32;
            font-size: 24px;
            margin: 0;
            font-weight: normal;
            font-family: Georgia, serif;
        }

        p {
            color: #967B76;
            font-size: 14px;
            margin: 0;
            line-height: 20px;
            font-family: Georgia, serif;
        }

        @media only screen and (max-width: 480px) {

            table[class="MainContainer"], td[class="cell"] {
                width: 100% !important;
                height: auto !important;
            }

            td[class="specbundle"] {
                width: 100% !important;
                float: left !important;
                font-size: 13px !important;
                line-height: 17px !important;
                display: block !important;
                padding-bottom: 15px !important;
                text-align: center !important;
            }

            td[class="specbundle2"] {
                width: 90% !important;
                float: left !important;
                font-size: 13px !important;
                line-height: 17px !important;
                display: block !important;
                padding-bottom: 10px !important;
                padding-left: 5% !important;
                padding-right: 5% !important;
            }

            td[class="specbundle3"] {
                width: 85% !important;
                float: left !important;
                font-size: 13px !important;
                line-height: 17px !important;
                display: block !important;
                padding-bottom: 10px !important;
                padding-left: 10% !important;
                padding-right: 5% !important;
            }

            td[class="spechide"] {
                display: none !important;
            }

            img[class="banner"] {
                width: 100% !important;
                height: auto !important;
            }

            img[class="banner1"] {
                width: 90% !important;
                height: auto !important;
            }

            td[class="left_pad"] {
                padding-left: 15px !important;
                padding-right: 15px !important;
            }

        }

        @media only screen and (max-width: 540px) {

            table[class="MainContainer"], td[class="cell"] {
                width: 100% !important;
                height: auto !important;
            }

            td[class="specbundle"] {
                width: 100% !important;
                float: left !important;
                font-size: 13px !important;
                line-height: 17px !important;
                display: block !important;
                padding-bottom: 15px !important;
                text-align: center !important;
            }

            td[class="specbundle2"] {
                width: 90% !important;
                float: left !important;
                font-size: 13px !important;
                line-height: 17px !important;
                display: block !important;
                padding-bottom: 10px !important;
                padding-left: 5% !important;
                padding-right: 5% !important;
            }

            td[class="specbundle3"] {
                width: 85% !important;
                float: left !important;
                font-size: 13px !important;
                line-height: 17px !important;
                display: block !important;
                padding-bottom: 10px !important;
                padding-left: 10% !important;
                padding-right: 5% !important;
            }

            td[class="spechide"] {
                display: none !important;
            }

            img[class="banner"] {
                width: 100% !important;
                height: auto !important;
            }

            img[class="banner1"] {
                width: 90% !important;
                height: auto !important;
            }

            td[class="left_pad"] {
                padding-left: 15px !important;
                padding-right: 15px !important;
            }

        }

    </style>

    <script type="colorScheme" class="swatch active">
  {
    "name":"Default",
    "bgBody":"DDDDDD",
    "link":"999999",
    "color":"967B76",
    "bgItem":"ffffff",
    "title":"F34E32"
  }
</script>

</head>
<body paddingwidth="0" paddingheight="0" class='bgBody'  style="padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;" offset="0" toppadding="0" leftpadding="0">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class='bgBody'>
    <!--header-->
    <tbody>
    <tr>
        <td>
            <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" class="MainContainer"
                   style='font-family:Georgia, serif;'>
                <tbody>
                <tr>
                    <td class="movableContentContainer">
                        <div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <td bgcolor='#000000' valign='top' align="center" width='600'
                                        style='padding:6px 25px;'>
                                        <div class="contentEditableContainer contentTextEditable">
                                            <div class="contentEditable" align='center'>
                                                <p style="color:#E9FFA9;font-size:12px;font-family:Verdana, sans-serif;text-align:center;">{% trans %}
                                                    You are receiving this email because you reserved on our restaurant{% endtrans %}.</p>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor='#000000'>
                                <tbody>
                                <tr>
                                    <td valign="top" width="20" class="spechide">&nbsp;</td>
                                    <td>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <td height="15"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                        <tr>
                                                            <td valign="top" width="280" class="specbundle2">
                                                                <div class="contentEditableContainer contentImageEditable">
                                                                    <div class="contentEditable">
                                                                        <img src="{{ absolute_url(asset('images/emailAsset/logo.png')) }}"
                                                                             alt='Elizalde Habana'
                                                                             data-default="placeholder"
                                                                             data-max-width="280" boder="0">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td valign="top" class="specbundle2" align="left">
                                                                <table width="280" border="0" cellspacing="0"
                                                                       cellpadding="0" align="center"
                                                                       style='background-color:#bgcolor=' #000000
                                                                ';font-family: Verdana, sans-serif;'>
                                                        <tr>
                                                            <td width='60' align='right'>
                                                                <div class="contentEditableContainer contentFacebookEditable">
                                                                    <div class="contentEditable">
                                                                        <a href="https://www.facebook.com/ElizaldeHabana/"
                                                                           target="_blank">
                                                                            <img src="{{ absolute_url(asset('images/emailAsset/facebook.png')) }}"
                                                                                 alt='facebook icon' width='35'
                                                                                 height='35' data-default="placeholder"
                                                                                 data-max-width="35"
                                                                                 data-customIcon="true"
                                                                                 data-noText="false"></a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td width='45' align='right'>
                                                                <div class="contentEditableContainer contentTripAdvisorEditable">
                                                                    <div class="contentEditable">
                                                                        <a href="http://www.tripadvisor.com/Restaurant_Review-d12580283"
                                                                           target="_blank">
                                                                            <img src="{{ absolute_url(asset('images/emailAsset/tripadvisor.png')) }}"
                                                                                 alt='TripAdvisor icon' width='35'
                                                                                 height='35' data-default="placeholder"
                                                                                 data-max-width="35"
                                                                                 data-customIcon="true"
                                                                                 data-noText="false"></a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td width='175' align='right'>
                                                                <div class="contentEditableContainer contentTextEditable">
                                                                    <div class="contentEditable">
                                                                        <a target='_blank'
                                                                           href="http://restauranteelizaldehabana.com"
                                                                           style='padding:10px 18px;color:#ffffff;background:#F34E32;text-decoration:none;font-weight:bold;font-size:13px;border-radius:30px;’-moz-border-radius:30px;-webkit-border-radius:30px;font-family:Georgia, serif;'>{% trans %}
                                                                            Visit our website{% endtrans %}</a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="15"></td>
                                </tr>
                                </tbody>
                            </table>
                    </td>
                    <td valign="top" width="20" class="spechide">&nbsp;</td>
                </tr>
                </tbody>
            </table>
            </div>
            <div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                        <td valign="top" width="600">
                            <div class="contentEditableContainer contentImageEditable">
                                <div class="contentEditable" align='center'>
                                    <img class="banner" src="{{ absolute_url(asset('images/emailAsset/table.jpg')) }}"
                                         alt='Featured image' height='212' data-default="placeholder"
                                         data-max-width="600" border="0">
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                        <td bgcolor='#578A33' style='padding: 20px;'>
                            <div class="contentEditableContainer contentTextEditable">
                                <div class="contentEditable" align='center'>
                                    <p style='color:#ffffff;font-style:italic;font-size: 16px;margin:0;font-family:Georgia, serif;font-style:italic;line-height:22px;'>
                                        {% trans %}Dear{% endtrans %} {{ booking.nombre }},
                                        {% trans %}thank you very much for your reservation on Elizalde for{% endtrans %}
                                        {{ booking.personas }}
                                        {% trans %}persons{% endtrans %}!
                                        {% trans %}We are proud because your preference{% endtrans %}. <br>
                                <span style='color:#E9FFA9;'>{% trans %}We'll expect you on{% endtrans %}
                                 {{ booking.date | date("D j, M Y") }} {% trans %}at{% endtrans %} {{ booking.time }}h.</p>
                                    <p style='color:#ffffff;font-style:italic;font-size: 16px;margin-top:25px;font-family:Georgia, serif;font-style:italic;line-height:22px;'>
                                        {% trans %}To make it official, you must confirm this reservation by click this link{% endtrans %}:
                                    </p>
                                    <p style='color:#ffffff;font-style:italic;font-size: 16px;margin-top:20px;font-family:Georgia, serif;font-style:italic;line-height:22px;'>

                                    <a target='_blank'
                                       href="{{ absolute_url('confirmreservation/'~booking.token) }}"
                                       style='padding:10px 18px;color:#ffffff;background:#F34E32;text-decoration:none;font-weight:bold;font-size:13px;border-radius:30px;’-moz-border-radius:30px;-webkit-border-radius:30px;font-family:Georgia, serif;'>{% trans %}
                                        Confirm reservation!{% endtrans %}</a>
                                    </p>
                                </div>
                            </div></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                    <tbody>
                    <tr>
                        <td valign="top" width="20">&nbsp;</td>
                        <td>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                <tr>
                                    <td height='42'>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td height='1' bgcolor='#efe8e0'></td>
                                </tr>
                            </table>
                        </td>
                        <td valign="top" width="20">&nbsp;</td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                    <tbody>
                    <tr>
                        <td valign="top" width="20">&nbsp;</td>
                        <td>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                <tr>
                                    <td height='42'>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td align='left'>
                                        <div class="contentEditableContainer contentTextEditable">
                                            <div class="contentEditable">
                                                <h2>{% trans %}About Elizalde Habana{% endtrans %}</h2>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td height='20'>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td align='left' valign='top'>
                                        <div class="contentEditableContainer contentTextEditable">
                                            <div class="contentEditable">
                                                <p>{% trans %}ElizaldeHavana is that place where the Cuban and Spanish cultures join on a special way. Merging flavors from Pamplona and the most delightful ingredients we are creating a huge family of friends that come back for more.{% endtrans %}</p>

                                                <p>{% trans %}Every Friday, Happy Hours from 16:00 to 20:00 you can get two cocktails by the price of one. We specialize in daiquiris of fruits and mojitos. You can combine it with ham and cheese.{% endtrans %}
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td valign="top" width="20">&nbsp;</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                        <td width='600' height='41' bgcolor="#ffffff"></td>
                    </tr>
                    <tr>
                        <td valign="top" width="600">
                            <div class="contentEditableContainer contentImageEditable">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">

                                </table>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td height='15' bgcolor='#EFEFEF'></td>
                    </tr>
                    <tr>
                        <td bgcolor='#EFEFEF'>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <td valign="top" width="20">&nbsp;</td>
                                    <td>
                                        <div class="contentEditableContainer contentImageEditable">
                                            <div class="contentEditable" align='center'>
                                                <img class="banner"
                                                     src="{{ absolute_url(asset('images/emailAsset/map.jpg')) }}"
                                                     alt='map' data-default="placeholder" data-max-width="600">
                                            </div>
                                        </div>
                                    </td>
                                    <td valign="top" width="20">&nbsp;</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>

            <div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                    <tr>
                        <td width='600' height='50' bgcolor='#EFEFEF'>&nbsp;</td>
                    </tr>
                    <tr>
                        <td width='600' bgcolor='#EFEFEF' style='padding:0 20px;'>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                                <tr>
                                    <td width='300' valign='top'>
                                        <div class="contentEditableContainer contentTextEditable">
                                            <div class="contentEditable">
                                                <p style='font-size: 16px;margin:0;font-family:Georgia, serif;'>
                                                    Elizalde's bar-restaurant<br>Empedrado street 521 between Monserrate
                                                    and Villegas street. Havana, Cuba. </p>

                                                <p style='color:#382F2E;font-size: 24px;margin:0;line-height: 55px;font-family:Georgia, serif;'>
                                                    <a href="tel://+5378672157">+53 78672157</a></p>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width='600' height='25' bgcolor='#EFEFEF'>&nbsp;</td>
                    </tr>
                </table>
            </div>


            <div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                    <tr>
                        <td width='560' bgcolor='#E4E4E4' style='padding:15px 20px 5px 10px;' valign='top'>
                            <div class="contentEditableContainer contentTextEditable">
                                <div class="contentEditable" align='left'>
                                    <p style='color:#B59F9B;font-size: 14px;margin:0;line-height:16px;font-family:Georgia, serif;'>
                                        Thank you for your visit. Have a nice day!<br> Elizalde's team.<br><br>
                                        If you didn't request this emil or didn't reserve, please, ignore this email.
                                    </p>

                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">

            </div>

        </td>
    </tr>
    </tbody>
</table>
</td>
</tr>
</tbody>

<!-- end footer-->

</table>


</body>
</html>