{% extends "AppBundle:Dash:base.html.twig" %}
{% block title %}Galeria{% endblock %}

{% block body %}
    <style>
        .imageactive{
            border-top-right-radius: 30px;border-top-style: solid;border-top: solid green 5px;
        }
        .imagedeactive{
            border-top-right-radius: 30px;border-top-style: solid;border-top: solid red 5px;
        }
    </style>
    <h1>Galería de Imágenes<a href="{{ path('dash_imagen_new') }}" class="btn btn-primary btn-sm" style="float: right">Añadir Imágen</a></h1>

    <div class="row">
        {% for imagen in imagens %}
            <div class="col-md-4 thumbnail image{% if imagen.active %}active{% else %}deactive{% endif %}">
                <h3>{{ imagen.nombre }}</h3>
                <a href="{{ path('dash_imagen_show', { 'id': imagen.id }) }}"><img src="{{ asset(imagen.getWebPath()) }}" class="thumbnail" style="max-width: 100%; max-height: 15em"></a>
                <p>{{ imagen.detalles }}</p>
                <div>
                    <a href="{{ path('dash_imagen_show', { 'id': imagen.id }) }}" class="btn btn-primary btn-sm">Ver</a>
                    <a href="{{ path('dash_imagen_edit', { 'id': imagen.id }) }}" class="btn btn-primary btn-sm">Editar</a>
                </div>
            </div>
        {% endfor %}
    </div>


            <a href="{{ path('dash_imagen_new') }}" class="btn btn-primary">Añadir Imágen</a>

{% endblock %}
