{% extends "AppBundle:Dash:base.html.twig" %}

{% block body %}
    <h1>Preguntas de seguridad</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Pregunta</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for preguntum in preguntas %}
            <tr>
                <td><a href="{{ path('dash_pregunta_show', { 'id': preguntum.id }) }}">{{ preguntum.id }}</a></td>
                <td>{{ preguntum.pregunta }}</td>

                <td>
                    <ul>
                        <li>
                            <a href="{{ path('dash_pregunta_edit', { 'id': preguntum.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('dash_pregunta_new') }}" class="btn btn-default">Agregar una pregunta</a>
        </li>
    </ul>
{% endblock %}
